*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
public/images/brand/NewLogo.png -filter -diff -merge -text
public/images/brand/Logo.png -filter -diff -merge -text
